.bb-udiff .diff-container .diff-content-container {
	border-radius: 0;
}

.bb-udiff .diff-container .heading .primary {
	flex-basis: 30%;
	-webkit-flex-basis: 30%;
}

.bpr-file-footer {
	width: 100%;
	height: 2em;
	line-height: 2em;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 0 0 5px 5px;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
	margin-top: 2px;
}

#bpr-global-actions {
	margin-top: 2em;
	text-align: right;
}

#bpr-global-actions button:focus {
	outline: none;
}